build/
dist/
out/
lib/
*.class
*.apk
*.aab
*.apks
*.idsig
*.jks
*.keystore
.idea/
.vscode
.gradle/
.cxx/
.externalNativeBuild/
.DS_Store
Thumbs.db
*.log
local.properties
keystore.properties
captures/
*.iml
